.asientos{
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    height: 76%;
    width: 100%;
    box-sizing:border-box;
    padding: 40px 0px;
}

.asientos.active{
    display: flex;
}

.autobus{
    height: 100%;
    width: 700px ;
    background-color: #f0f0f0;
}

.detalles{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 220px ;
    background-color: #f0f0f0;
}

.planta_baja,
.planta_alta{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.plata_alta_title,
.plata_baja_title{
    padding: 10px 0px;
    background-color: #0068FF;
    color: white;
}
.seleccionAsiento2,
.seleccionAsiento3,
.seleccionAsiento1{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 10px 0px;
}

.detalles_type,
.detalles_origen,
.detalles_destino,
.detalles_adultos,
.detalles_salida,
.detalles_regreso,
.detalles_ninos,
.detalles_INAPAM,
.detalle_numasiento {
    text-align: center;
    padding: 10px 0px;
    background-color: #dadada;
    margin: 1px solid #FFF;
}

.detalles_asientos{
    padding: 10px 0px;
    background-color: #0068FF;
    color: white;
    text-align: center;
}