*{ /*Resetea valores por defecto*/
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

body{
    height: 100vh; /* altura del 100% de la página */
    background-color: #f6f6f6;
}

/*************HEADER**********************/
.header{
    display: flex;
    justify-content: space-around; 
    /*Alineación horizontal (logotipo izquierda, social_media derecha)*/
    align-items: flex-end;
    /*Alineación vertical*/
    height: 12%;
    width: 100%; /*todo el ancho de la página;*/
    background-color: white
}

.header__img{
    height: 50px; /*altura del logotipo*/
    /*width: 190px; /*ancho del logotipo*/
    padding: 10px 30px; /* arriba,abajo / izquierda,derecha*/
}

.header_social_media{
    padding: 10px 30px; /* arriba,abajo / izquierda,derecha*/
    width: 200px; /*ancho del contenedor*/
    display: flex;
    justify-content: space-between;
    /*Alineación horizontal (izquierda, centro, derecha)*/
}

/********************MAIN**********************/
.main{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 76%;
    width: 100%;
    background-image: url("../imagenes/banner.jpg");
    background-size: auto;
    background-position: center;
}
.content_trip{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 300px;
    width: 945px;
    background-image: url("../imagenes/boleto.png");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 30px;
}

.option_trip{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.type_trip{
    width: 125px;
    height: 210px;
}

.type_trip label{
    text-align: center;
}

.places_trip{
    width: 300px;
    height: 210px;
}
.date_trip{
    width: 220px;
    height: 210px;
}

.promotion_trip{
    width: 300px;
    height: 210px;
}

.passenger_trip{
    display: flex;
    flex-direction: row;
}
.passenger_trip input{
    width: 40px;
}

.passenger_trip label{
    padding: 0px 10px;
}

/********************Footer**********************/

.footer{
    height: 12%;
    width: 100%; /*todo el ancho de la página;*/
    background-color: white
}