//- pug -w --pretty asientos.pug
doctype html
html(lang="en")
  include pug/head.pug
  body
    include pug/header.pug  
    include pug/asientos.pug
    include pug/footer.pug 
    script(src="./js/indexedDB.js")
    script(src="./js/script.js") 