//- pug -w --pretty horarios.pug
doctype html
html(lang="en")
  include pug/head.pug
  include pug/headhorarios.pug
  body
    include pug/header.pug  
    include pug/horarios.pug
    include pug/footer.pug 
    script(src="./js/indexedDB.js")
    script(src="./js/script.js") 