//- pug -w --pretty index.pug
doctype html
html(lang="en")
  include pug/head.pug
  body(onload="startDB()")
    include pug/header.pug  
    include pug/main.pug 
    include pug/footer.pug 
    script(src="./js/index.js")
    script(src="./js/indexedDB.js")
    