//- pug -w --pretty tarjeta.pug
doctype html
html(lang="en")
  include pug/head.pug
  body
    include pug/header.pug  
    include pug/tarjeta.pug
    include pug/footer.pug 
    .overlay(id="overlay")
    .modal(id="modal")
      h1 Boleto de Camión
      .modal-content
        .type_trip
        .places_trip
        .date_trip
        .promotion_trip
      .modal-buttons
        button.modal-btn(class="primary" id="hide-modal") Cerrar Modal
    script(src="./js/indexedDB.js")
    script(src="./js/script.js") 