.asientos
    .autobus
        .planta_alta 
            .plata_baja_title Planta Baja
            img(class="autobus__platabaja" src="./imagenes/Planta_baja.png" alt="Plata Baja")
        .planta_baja 
            .plata_alta_title Planta Alta
            img(class="autobus__plataalta" src="./imagenes/Planta_alta.png" alt="Plata Alta")
        .seleccionAsiento1
            .asiento1
                b 01
                input(type="radio", name="asiento", value="01")
            .asiento2
                b 02
                input(type="radio", name="asiento", value="02")
            .asiento3
                b 03
                input(type="radio", name="asiento", value="03")
            .asiento4
                b 04
                input(type="radio", name="asiento", value="04")
            .asiento5
                b 05
                input(type="radio", name="asiento", value="05")
            .asiento6
                b 06
                input(type="radio", name="asiento", value="06")
            .asiento7
                b 07
                input(type="radio", name="asiento", value="07")
            .asiento8
                b 08
                input(type="radio", name="asiento", value="08")
            .asiento9
                b 09
                input(type="radio", name="asiento", value="09")
            .asiento10
                b 10
                input(type="radio", name="asiento", value="10")
            .asiento11
                b 11
                input(type="radio", name="asiento", value="11")
            .asiento12
                b 12
                input(type="radio", name="asiento", value="12")
            .asiento13
                b 13
                input(type="radio", name="asiento", value="13")
            .asiento14
                b 14
                input(type="radio", name="asiento", value="14")
            .asiento15
                b 15
                input(type="radio", name="asiento", value="15")
        .seleccionAsiento2
            .asiento16
                b 16
                input(type="radio", name="asiento", value="16")
            .asiento17
                b 17
                input(type="radio", name="asiento", value="17")
            .asiento18
                b 18
                input(type="radio", name="asiento", value="18")
            .asiento19
                b 19
                input(type="radio", name="asiento", value="19")
            .asiento20
                b 20
                input(type="radio", name="asiento", value="20")
            .asiento21
                b 21
                input(type="radio", name="asiento", value="21")
            .asiento22
                b 22
                input(type="radio", name="asiento", value="22")
            .asiento23
                b 23
                input(type="radio", name="asiento", value="23")
            .asiento24
                b 24
                input(type="radio", name="asiento", value="24")
            .asiento25
                b 25
                input(type="radio", name="asiento", value="25")
            .asiento26
                b 26
                input(type="radio", name="asiento", value="26")
            .asiento27
                b 27
                input(type="radio", name="asiento", value="27")
            .asiento28
                b 28
                input(type="radio", name="asiento", value="28")
            .asiento29
                b 29
                input(type="radio", name="asiento", value="29")
            .asiento30
                b 30
                input(type="radio", name="asiento", value="30")
        .seleccionAsiento3
            .asiento31
                b 31
                input(type="radio", name="asiento", value="31")
            .asiento32
                b 32
                input(type="radio", name="asiento", value="32")
            .asiento33
                b 33
                input(type="radio", name="asiento", value="33")
            .asiento34
                b 34
                input(type="radio", name="asiento", value="34")
            .asiento35
                b 35
                input(type="radio", name="asiento", value="35")
            .asiento36
                b 36
                input(type="radio", name="asiento", value="36")
            .asiento37
                b 37
                input(type="radio", name="asiento", value="37")
            .asiento38
                b 38
                input(type="radio", name="asiento", value="38")
            .asiento39
                b 39
                input(type="radio", name="asiento", value="39")
            .asiento40
                b 40
                input(type="radio", name="asiento", value="40")
            .asiento41
                b 41
                input(type="radio", name="asiento", value="41")
            .asiento42
                b 42
                input(type="radio", name="asiento", value="42")
            .asiento43
                b 43
                input(type="radio", name="asiento", value="43")
            .asiento44
                b 44
                input(type="radio", name="asiento", value="44")
            .asiento45
                b 45
                input(type="radio", name="asiento", value="45")
    .detalles
        .detalles_title Resumen de compra
        .detalles_type Viaje Sencillo
        .detalles_origen Desde: Guadalajara, Jal
        .detalles_destino  Hasta: Colima, Col
        .detalles_salida  Salida: 2019-11-27
        .detalles_regreso  Regreso: N/A
        .detalles_adultos  Adultos: 1
        .detalles_ninos  Niños: 0
        .detalles_INAPAM  INAPAM: 0
        .detalles_asientos   Asientos
        .detalle_numasiento  Asiento: 04
        .detalles_total  Total: $324
        button.continuar
            a(href="./tarjeta.html") Pagar