.footer
    .persons
        .person1 Edith Rodriguez Bravo 
        .person2 Asbeidy Natali Jasso Avalos
        .person3 Ramsés Patiño Cortez
    .copyright
        label copyright
        img(class="copyright_img" src="./imagenes/copyright.png" alt="copyright") 