header.header
	img(class="header__img" src="./imagenes/logo.png" alt="logotipo")
	.header_social_media
		a(href="/")
			img(class="socialMedia_img" src="./imagenes/ico-twitter.png" alt="twitter")
		a(href="/")
			img(class="socialMedia_img" src="./imagenes/ico-facebook.png" alt="facebook")
		a(href="/")
			img(class="socialMedia_img" src="./imagenes/ico-youtube.png" alt="youtube")