.horarios
    .corridas
        table
            tr  
                th Seleccionar
                th Hora de salida
                th Llegada
                th Precio
            tr 
                td 
                    input(type="radio", name="horario")
                td 10:30
                td 13:10
                td $324
            tr 
                td 
                    input(type="radio", name="horario")
                td 10:30
                td 13:10
                td $324
            tr 
                td 
                    input(type="radio", name="horario")
                td 10:30
                td 13:10
                td $324
            tr 
                td 
                    input(type="radio", name="horario")
                td 10:30
                td 13:10
                td $324
    .detalles
        .detalles_title Resumen de compra
        .detalles_type Viaje Sencillo
        .detalles_origen Desde: Guadalajara, Jal
        .detalles_destino  Hasta: Colima, Col
        .detalles_salida  Salida: 2019-11-27
        .detalles_regreso  Regreso: N/A
        .detalles_adultos  Adultos: 1
        .detalles_ninos  Niños: 0
        .detalles_INAPAM  INAPAM: 0
        .detalles_total  Total: $324
        button.continuar
            a(href="./registro.html") Continuar