.main.active(id="main")
    .content_trip
        .type_trip.option_trip
            label(for='Sencillo') Sencillo <br>
                input(type="radio", name="type_trip", id="Sencillo", value="Sencillo" ,onchange="SelectTypeTrip()") 
            label(for='Redondo') Redondo <br>
                input(type="radio", name="type_trip", id="Redondo", value="Redondo",onchange="SelectTypeTrip()", checked)
        .places_trip.option_trip
            label(for='origen') Origen <br> 
                select(id="origen")
                    option(value="Origen") Origen
            label(for='destino') Destino <br>
                select(id="destino")
                    option(value="Destino") Destino
        .date_trip.option_trip
            div(id="divsalida")
                label(for='salida') Salida <br>
                    input(type="date", id="salida",value='2019/12/02') 
            div(id="divregreso")
                label(for='regreso') Regreso <br>
                    input(type="date", id="regreso", value="regreso")
            div(id="divabierto")
                label(for='abierto') Boleto Abierto
                    input(type="checkbox", id="abierto", value="abierto", OnClick="DateTrip()")
        .promotion_trip.option_trip
            .passenger_trip
                label(for='adulto') Adultos <br>
                    input(type="number", id="adulto", placeholder=0) 
                label(for='ninos') Niños <br>
                    input(type="number", id="ninos", placeholder=0)
                label(for='inapam') *INAPAM <br>
                    input(type="number", id="inapam", placeholder=0)
            button.siguiente(onclick="selecthorario()") Eligir Horario