.registro(id="registro")
    .formulario
        .formulario_tittle Regístrate
        .formulario_content
            .formulario_name
                label Nombre
                input(type="text", name="nombre" placeholder="Nombre completo")
            .formulario_email
                label Email
                input(type="text", name="email" placeholder="ejemplo@mail.com")
            .formulario_confirm_password
                label Confirmar Email
                input(type="text", name="confirm" placeholder="ejemplo@mail.com")
            .formulario_cell
                label Nombre
                input(type="text", name="nombre" placeholder="Nombre completo")
            .formulario_terminos
                label.label_terminos Términos y Condiciones
                input(type="checkbox", name="terminos") 
            button.continuar(onclick="selectasientos()") Continuar
                //- a(href="./asientos.html") Continuar